
<% if @categories.present? %>
    <div class="topics-home main-btn-group">
        <% @categories.each do |category| %>
        <%= link_to category_topics_path(category: category.parameterize) do %>
            <div class="main-btn-group">
                <button class="main-btn">
                    <% if category.downcase.include?("addition") || category.downcase.include?("subtraction") %>
                        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745252577/MentalMaths/behnam-norouzi-wBKWM-DLhzg-unsplash_qyw75q.jpg", class: "main-btn-icon") %>
                    <% elsif category.downcase.include?("multiplication") %>
                        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745253579/MentalMaths/frogses-production-FlvBhEwEOng-unsplash_uiybkh.jpg", class: "main-btn-icon") %>
                    <% elsif category.downcase.include?("number bond") %>
                        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745253609/MentalMaths/Screenshot_2025-04-21_at_17.39.05_kaqu1y.png", class: "main-btn-icon") %>
                    <% elsif category.downcase.include?("ten frame") %>
                        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745253598/MentalMaths/Screenshot_2025-04-21_at_17.36.02_z8dbr4.png", class: "main-btn-icon") %>
                    <% elsif category.downcase.include?("rainbow") %>
                        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745229391/alex-jackman-_Bk2NVFx7q4-unsplash_kj7up7.jpg", class: "main-btn-icon")%>
                    <% else %>
                        <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745252577/MentalMaths/behnam-norouzi-wBKWM-DLhzg-unsplash_qyw75q.jpg", class: "main-btn-icon") %>
                    <% end %>
                    <h4><%= category.titleize %></h4>
                </button>
            </div>
        <% end %>
        <% end %>
    </div>

<% elsif @topics.present? %>
  <h2><%= @category %></h2>
  <div class="topics-home main-btn-group">
    <% @topics.each do |topic| %>
      <% if topic.public? || user_signed_in? %>
        <%= link_to topic_path(topic) do %>
          <div class="main-btn-group">
            <button class="main-btn">
                <% if topic.category.downcase.include?("addition") %>
                    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745252577/MentalMaths/behnam-norouzi-wBKWM-DLhzg-unsplash_qyw75q.jpg", class: "main-btn-icon") %>
                <% elsif topic.category.downcase.include?("multiplication") %>
                    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745253579/MentalMaths/frogses-production-FlvBhEwEOng-unsplash_uiybkh.jpg", class: "main-btn-icon") %>
                <% elsif topic.category.downcase.include?("number bond") %>
                    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745253609/MentalMaths/Screenshot_2025-04-21_at_17.39.05_kaqu1y.png", class: "main-btn-icon") %>
                <% elsif topic.category.downcase.include?("ten frame") %>
                    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745253598/MentalMaths/Screenshot_2025-04-21_at_17.36.02_z8dbr4.png", class: "main-btn-icon") %>
                <% elsif topic.category.downcase.include?("rainbow") %>
                    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745229391/alex-jackman-_Bk2NVFx7q4-unsplash_kj7up7.jpg", class: "main-btn-icon")%>
                <% else %>
                    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1745252577/MentalMaths/behnam-norouzi-wBKWM-DLhzg-unsplash_qyw75q.jpg", class: "main-btn-icon") %>
                <% end %>
              <h4><%= topic.title %></h4>
            </button>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_user_registration_path do %>
          <button class="main-btn locked">
            <h1>🔒</h1>
            <h4><%= topic.title %></h4>
          </button>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>


<script>
    document.querySelectorAll('.main-btn').forEach(btn => {
    btn.addEventListener('click', () => {
        const boing = new Audio('https://res.cloudinary.com/dm37aktki/video/upload/v1746369903/toy-button-105724_arxpps.mp3');
        boing.play().catch((e) => console.warn("Playback failed:", e));

        btn.classList.add('bounce');
        setTimeout(() => btn.classList.remove('bounce'), 300);
    });
    });
</script>