<h1><%= @topic.title %></h1>
<br><br><br><br>
<h2><%= @topic.intro %></h2>
<br><br><br><br>

<% if @topic.id == 1 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750615192/MentalMaths/Math_App_Images_ttntlf.png") %>
<% elsif @topic.id == 2 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750615192/MentalMaths/Math_App_Images_1_ync9t7.png") %>
<% elsif @topic.id == 3 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750615192/MentalMaths/Math_App_Images_2_zhvxhr.png") %>
<% elsif @topic.id == 4 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750615819/MentalMaths/Math_App_Images_3_hjhrdq.png") %>
<% elsif @topic.id == 5 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750616081/MentalMaths/Math_App_Images_4_mudrj1.png") %>
<% elsif @topic.id == 6 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750616631/MentalMaths/7_unxhyr.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750616631/MentalMaths/8_enenm0.png") %>
    <br><br><br><br>
<% elsif @topic.id == 7 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750617151/MentalMaths/7_vn9y3q.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750617151/MentalMaths/8_cxpo3z.png") %>
    <br><br><br><br>
<% elsif @topic.id == 8 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1746453459/MentalMaths/frame8_rjlp72.png", style: "width: 300px; height: auto; object-fit: contain;") %>
<% elsif @topic.id == 9 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1746466109/MentalMaths/frame17_aaf8rz.png", style: "width: 300px; height: auto; object-fit: contain;") %>
<% elsif @topic.id == 10 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750959989/MentalMaths/7_npzwxc.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750959990/MentalMaths/8_cyp63l.png") %>
    <br><br><br><br>
<% elsif @topic.id == 11 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750960375/MentalMaths/7_hh1kmy.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750960375/MentalMaths/8_zwzvlp.png") %>
    <br><br><br><br>
<% elsif @topic.id == 12 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750960695/MentalMaths/7_fclqtv.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750960695/MentalMaths/8_qkfllm.png") %>
    <br><br><br><br>
<% elsif @topic.id == 13 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750960914/MentalMaths/7_espma4.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750960914/MentalMaths/8_dpxuti.png") %>
    <br><br><br><br>
<% elsif @topic.id == 14 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750961150/MentalMaths/7_vlogw4.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750961150/MentalMaths/8_owzayf.png") %>
    <br><br><br><br>
<% elsif @topic.id == 15 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750961390/MentalMaths/Math_App_Images_5_j5hxke.png") %>
    <br><br><br><br>
<% elsif @topic.id == 16 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750961536/MentalMaths/Math_App_Images_6_swyfcj.png") %>
    <br><br><br><br>
<% elsif @topic.id == 17 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750961656/MentalMaths/Math_App_Images_7_dzbmwy.png") %>
    <br><br><br><br>
<% elsif @topic.id == 18 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750961772/MentalMaths/Math_App_Images_8_cdfgnl.png") %>
    <br><br><br><br>
<% elsif @topic.id == 19 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750961903/MentalMaths/Math_App_Images_9_razuno.png") %>
    <br><br><br><br>
<% elsif @topic.id == 20 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962018/MentalMaths/Math_App_Images_10_ql53wf.png") %>
    <br><br><br><br>
<% elsif @topic.id == 21 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962144/MentalMaths/Math_App_Images_11_dj7pex.png") %>
    <br><br><br><br>
<% elsif @topic.id == 22 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962252/MentalMaths/Math_App_Images_12_qy3cty.png") %>
    <br><br><br><br>
<% elsif @topic.id == 23 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962445/MentalMaths/Math_App_Images_14_qnyelx.png") %>
    <br><br><br><br>
<% elsif @topic.id == 24 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962638/MentalMaths/Math_App_Images_15_buvnzl.png") %>
    <br><br><br><br>
<% elsif @topic.id == 25 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962735/MentalMaths/Math_App_Images_16_b8zmvx.png") %>
    <br><br><br><br>
<% elsif @topic.id == 26 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962989/MentalMaths/7_jfalcs.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750962991/MentalMaths/8_cjxgk9.png") %>
    <br><br><br><br>
<% elsif @topic.id == 27 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750963316/MentalMaths/7_iz2un3.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750963317/MentalMaths/8_bwwfsg.png") %>
    <br><br><br><br>
<% elsif @topic.id == 28 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750963615/MentalMaths/7_pidltz.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750963616/MentalMaths/8_jlgunj.png") %>
    <br><br><br><br>
<% elsif @topic.id == 29 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750963933/MentalMaths/7_gid5bs.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750963934/MentalMaths/8_qpulxk.png") %>
    <br><br><br><br>
<% elsif @topic.id == 30 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750964194/MentalMaths/Math_App_Images_17_iljeka.png") %>
    <br><br><br><br>
<% elsif @topic.id == 31 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1750964315/MentalMaths/Math_App_Images_18_xiy20m.png") %>
    <br><br><br><br>
<% elsif @topic.id == 32 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753550971/7_wnbgep.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753550972/8_ybfmjl.png") %>
    <br><br><br><br><br><br><br><br>
<% elsif @topic.id == 33 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753552268/7_rzitxz.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753552268/8_rj2jwf.png") %>
    <br><br><br><br><br><br><br><br>
<% elsif @topic.id == 34 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753641347/7_uwstkj.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753641347/8_ddjp6p.png") %>
    <br><br><br><br><br><br><br><br>
<% elsif @topic.id == 35 %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753644284/7_kegy8h.png") %>
    <%= image_tag("https://res.cloudinary.com/dm37aktki/image/upload/v1753644284/8_ymi7aj.png") %>
    <br><br><br><br><br><br><br><br>
<% end %>