<h1>Your Children</h1>

<% if @children.any? %>
  <ul>
    <% @children.each do |child| %>
      <div class="main-btn-group">
        <%= link_to scores_path(child_id: child.id) do %>
          <button class="main-btn">
            <h4><%= child.username %></h4>
            <h2>View Scores</h2>
          </button>
        <% end %>
      </div>
    <% end %>
  </ul>
<% else %>
  <p>You haven't added any children yet.</p>
<% end %>

<div class="devise-form">
  <h2>Create Child Account</h2>

  <%= simple_form_for @child, url: create_child_path, method: :post, html: { class: "form-table" } do |f| %>
    <div class="form-inputs">
      <%= f.input :username, label: "Child’s Username", required: true %>

      <%= f.input :password, required: true, input_html: { autocomplete: "new-password" } %>

      <%= f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Create Child", class: "devise-btn" %>
    </div>
  <% end %>
</div>

