<!DOCTYPE html>
<html>
  <head>
    <title>MathSprint</title>
    <%= tag.link rel: 'icon', href: 'https://res.cloudinary.com/dm37aktki/image/upload/v1744891031/MentalMaths/Untitled_design_1_oh5xiz.png', type: 'image/png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%# font awesome social icons %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <%# fonts %>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kranky&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+2&display=swap" rel="stylesheet">

    <%# text animation %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <%# jQuery %>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <%# Canvas Confetti %>
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <%# <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %> 
    <%= javascript_pack_tag 'packs/main', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>


  </head>

<body class="<%= 'landing' if controller_name == 'home' && action_name == 'index' %>">
  <%= render 'shared/navbar' %>
  <%= render 'shared/flashes' %>

  <% unless controller_name == 'home' && action_name == 'index' %>
    <div class="wrapper">
      <%= yield %>
    </div>
  <% else %>
    <%= yield %>
  <% end %>

  <%= render "shared/footer" %>
</body>

</html>